* {
  text-align: center;
  background-color: #b0cf88;
  color: rgb(80, 16, 16);
  font-family: sans-serif;
}
.top {
  padding-top: 20px;
}
h2 {
  font-size: 35px;
}
div {
  font-size: 18px;
}
h3 {
  padding-top: 10px;
}
